.section-example {
    margin: 60px 0px 60px;
    @media(max-width:992) {
        margin: 30px 0px 30px;
    }
    @media(max-width:767) {
        margin: 20px 0px 20px;
    }
    @media(max-width:550) {
        margin: 15px 0px 15px;
    }
    @media(max-width:460) {
        margin: 10px 0px 10px;
    }
    &__separation {
        margin: 193px auto 0px;
        @media(max-width:997px) {
            margin: 40px auto 15px;
        }
    }
    &__title {
        text-align: left;
        padding: 0px 10px 0px 10px;
    }
    &__container {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 1035px) {
            flex-direction: column;
        }
    }
    &__card {
        margin: 0px 10px 0px 10px;
        width: 600px;
        height: 450px;
        position: relative;
        perspective: 1000px;
        cursor: pointer;
        @media(max-width: 1035px) {
            margin-bottom: 20px;
        }

        &-front, &-back {
            position: absolute;
            padding: 30px;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 1s;
            backface-visibility: hidden;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(108, 107, 107, 0.2); /* Параметры тени */
        }
        &-front {
            background-color: $cards;
        }
        &-back {
            background-color: $cards;
            transform: rotateY(180deg);
        }
        
    }

    &__img {
        max-width: 100%;
        width: 315px;
        height: auto;
        &--back {
            width: 100px;
            margin: 10px 115px 0px 115px;
        }
    }

    &__subtitle {
        margin: 0px 0px 25px 0px;
        font-size: 16px;
    }

    &__link {
        cursor: pointer;
        transition: all 0.1s linear;
        margin-bottom: 15px;
    }
    &__link:hover {
        color: $active;
    }
    &__info {
        margin-bottom: 15px;
        position: relative;
    }
    &__further {
        color: #c8a775;
        font-weight: 500;
        transition: all 0.1s linear;
        &::before {
            content: '';
            width: 30px;
            height: 15px;
            background: linear-gradient(90deg, rgba(251,249,241, 0.1), #FBF9F1);  
            position: absolute;
            top: 0;
            left: 0;
        }
        &:hover {
            color: $active;
        }
    }
}

.vkx::before {
    top: 42px;
    left: 63px;
}

.nkx::before {
    top: 60px;
    left: 32px;
}

.vkxo::before {
    top: 60px;
    left: 177px;
}

.flip .section-example__card-front {
    transform: rotateY(180deg);
}
.flip .section-example__card-back {
    transform: rotateY(360deg);
}

// Links style start
.link-system {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.show-composition {
    font-family: $roboto;
    font-size: 14px;

    color: #000;
    border-bottom: 1px dashed;

    transition: all 0.2s linear;

}

.show-composition:hover,
.show-composition:active,
.show-composition:focus {
    color: #1aaea4;
    border-bottom:  none;
}

// Links end 
