.section-about {
    padding: 75px 0px 60px;
    background: linear-gradient(to right, white 20%, #fbf9f1 0%);    
    &__container {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__left {
        z-index: 2;
    }

    &__right {
        position: relative;

        margin-left: 83px;
        max-width: 825px;
        width: 100%;
    }

    &__right::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 49px;
        left: -420px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: #f4f0e3;
    }
}

.section-right {
    &__content {
        font-size: 15px;
    }
}

.filter-img-change {
    display: none;
}

.filter-img {
    max-width: 252px;
    margin-top: 80px;
}


@media (min-width: 1800px) {
    .section-right__content {
        font-size: 25px;
    }

    .filter-img {
        max-width: 290px;
        margin-top: 150px;
        margin-right: 50px;
    }

    .section-about__right::before {
        top: 82px;
        left: -539px;
        width: 490px;
        height: 490px;

    }
}

@media (max-width: 1378px) {
    .section-about__right {
        max-width: 715px;
    }
}
@media (max-width: 1250px) {
    .section-about__right {
        max-width: 610px;
        width: 100%;
    }
}

@media (max-width: 1130px) {
.section-about__right {
    max-width: 503px;
    width: 100%;
    }
}

@media (max-width: 997px) {
    .section-about {
        background: inherit;
    }

    .section-about__container {
        flex-wrap: wrap;
    }

    .section-about__right {
        max-width: 783px;
        width: 100%;
        margin-left: 0px;
        padding-top: 15px;
    }

    .section-about__right::before {
        display: none;

    }

    .section-about {
        padding: 0px 0px 30px;

    }

    .filter-img {
        display: none;
    }

    .filter-img-change {
        display: block;
        margin: 0 auto;
        padding-top: 70px;
        max-width: 100%;
    }
}

@media (max-width: 567px) {
    .section-right__content span {
        display: none;
    }

    .section-about {
        padding: 20px 0px 10px;
    }
}

@media (max-width: 414px) {
    .section-about {
        padding: 5px 0px 30px;
    }
    .section-top {
        min-height: 485px;
    }

    .filter-img-change {
        padding-top: 35px;
        max-width: 75%;
    }
}
