.section-callback {
    scroll-margin: 50px;
    padding: 60px 0 85px;
    background-color: #fbf9f1;

    @media(max-width: 767px) {
        padding: 70px 0 85px;
    }

    &__container {
        display: flex;
        justify-content: center;
        @media(max-width: 1130px) {
            flex-direction: column-reverse;
        }
    }

    &__left {
        position: relative;

        margin-right: 80px;
        @media(max-width: 1130px) {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    &__right {
        @media(max-width: 1130px) {
            width: 100%;
            max-width: 695px;
            margin: 0 auto;
        }
        @media(max-width: 767px) {
            max-width: 475px;
        }

    }

    &__input {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 100%;
        @media(max-width: 570px) {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    &__input:last-child {
        margin-right: 0px;
    }

    &__label {
    }

    &__form {
    }

    &__map {
        @media(max-width: 660px) {
            max-width: 100%;
        }
    }

    &__location {
        display: flex;
        align-items: baseline;
        position: absolute;
        padding: 5px 7px 5px 45px;
        z-index: 1;
        background-color: $active;
        color: $white;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s linear;
        @media(max-width: 992px) {
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
        }
        @media(max-width: 538px) {
            transform: scale(0.8);
        }
        @media(max-width: 450px) {
            transform: scale(0.7);
        }
        @media(max-width: 360px) {
            transform: scale(0.6);
        }
    }
    &__location:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.3); 
        @media(min-width: 538px) {
            transform: scale(1.1);	
        }
        @media(max-width: 538px) {
            transform: scale(0.9);	
        }
        @media(max-width: 450px) {
            transform: scale(0.8);	
        }
        @media(max-width: 360px) {
            transform: scale(0.7);	
        }
    }
}

.factory-icon {
    position: absolute;
    top: -50%;
    left: 5%;
}

.--spb {
    top: 43%;
    left: 13%;
}
.--msk {
    top: 53%;
    left: 10%;
}
.--krs {
    top: 67%;
    left: 3%;
}
.--tym {
    top: 70%;
    left: 30%;
    @media(max-width: 400px) {
        left: 33%;
    }
}


.section-left {

    &__subtitle {
        margin-bottom: 0;
        margin-top: 70px;
        @media(max-width: 1130px) {
            margin-top: 40px;
            opacity: 60%;
        }
        @media(max-width: 640px) {
            opacity: 0%;
        }
    }
}
.page-title {
}
.section-right {

    &__title {
    }
}
