.section-callback {

    scroll-margin: 50px;
    padding: 60px 0 85px;
    background-color: #fbf9f1;

    @media(max-width: 767px) {
        padding: 70px 0 85px;
    }

    &__container {
        display: flex;
        justify-content: center;
        @media(max-width: 1130px) {
            flex-direction: column-reverse;
        }
    }

    &__left {
        margin-right: 80px;
        @media(max-width: 1130px) {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    &__right {
        @media(max-width: 1130px) {
            width: 100%;
            max-width: 695px;
            margin: 0 auto;
        }
        @media(max-width: 767px) {
            max-width: 475px;
        }

    }

    &__input {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 100%;
        @media(max-width: 570px) {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    &__input:last-child {
        margin-right: 0px;
    }

    &__label {
    }

    &__form {

    }

    &__map {
        max-width: 100%;
    }
}


.section-left {

    &__subtitle {
        margin-bottom: 0;
        margin-top: 70px;
        @media(max-width: 1130px) {
            margin-top: 40px;
            opacity: 60%;
        }
        @media(max-width: 640px) {
            opacity: 0%;
        }
    }
}
.page-title {
}
.section-right {

    &__title {
    }
}
