.title-components {
    font-size: 18px;
    font-weight: 600;
    color: #000;

    margin-bottom: 20px;
}

.info-components {
    font-size: 14px;
    line-height: 25px;

    color: #898989;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
}

.block-components {
    background-color: #fff;
    border: 1px solid #eee7d1;

    padding: 30px;
    margin-bottom: 30px;

    position: relative;
    z-index: 3;
    @media (max-width: 1226px) {
        padding: 23px;
    }

    @media (max-width: 1024px) {
        padding: 17px;
    }
}

// Подмена одного блока на другой

.original {
    @media(max-width: 997px) {
        display: none;
    }
}

.duplicate {
    display: none;
    @media(max-width: 997px) {
        display: block;
    }
}

.section-components {
    scroll-margin: 80px;

    font-family: $openSans;
    background-color: #fbf9f1;
    padding: 80px 0px 100px;

    @media(max-width: 721px) {
        padding: 65px 0px 545px;
    }

    &__title {
        max-width: 800px;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
    }

    &__left {
        width: 100%;
        margin: 70px 75px 0px 0px;
    }

    &__middle {
    }

    &__right {
        width: 100%;

        margin: 150px 0px 0px 75px;
    }
}

.section-left {
    position: relative;
    &__dots {
        visibility: hidden;
        color: white;
        position: relative;
        font-family: 600;
        font-size: 13px;
        @media(max-width: 997px) {
            visibility: inherit;
        }
    }
    &__dots::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: -3%;
        left: -82%;
        border-radius: 50%;
        background-color: $active;
        z-index: -1;
    }

    @media(max-width: 997px) {
        &__clarification {
            &--first {
                top: 147px;
                left: -66px;
                z-index: 2;
            }
            &--second {
                top: 305px;
                left: -75px;
                z-index: 2;
            }
    
            &--third {
                top: 365px;
                left: -86px;
                z-index: 2;
            }
    
            &--fourth {
                top: 476px;
                left: -99px;
                z-index: 2;
            }
    
            &--fifth {
                top: 559px;
                left: -109px;
                z-index: 2;
            }
        }
    }
    @media(max-width: 721px) {
        &__clarification {
            &--first {
                top: 105px;
                left: -50px;
                z-index: 2;
            }
            &--second {
                top: 222px;
                left: -60px;
                z-index: 2;
            }
    
            &--third {
                top: 263px;
                left: -71px;
                z-index: 2;
            }
    
            &--fourth {
                top: 345px;
                left: -82px;
                z-index: 2;
            }
    
            &--fifth {
                top: 408px;
                left: -93px;
                z-index: 2;
            }
        }
    }


    &__title {
        font-family: $openSans;
    }

}

.filter {
}

.section-right {

    &__block {
    }

}


.pointer-line__left {
    position: absolute;

    bottom: 50%;
    right: -112px;
}

.pointer-line__right {
    transform: rotate(180deg);
    position: absolute;

    top: 50%;
    left: -112px;
}

@media (max-width: 997px) {

    .section-components__container {
        flex-wrap: wrap;
        justify-content: flex-start;

        position: relative;
    }

    .section-components__middle {
        position: absolute;
        left: 75%;
        top: 10%;
        z-index: 2;
    }

    .pointer-line__left,
    .pointer-line__right {
        display: none;
    }

    .section-components__left,
    .section-components__right {
        margin: 0px 110px 0px 0px;
        max-width: 65%;
        width: 620px;
    }

    .section-components__title {
        padding-bottom: 30px;
    }

}

@media (max-width: 767px) {
    .section-components__title {
        font-size: 37px;
        max-width: 690px;
        width: 90%;
    }
}


@media (max-width: 721px) {
    .section-components__middle {
        left: 41%;
        top: 100%;
        @media(max-width: 370px) {
            left: 37%;
        }
    }
    .section-components__left, 
    .section-components__right {

    margin: 0px 0px 0px 0px;
    max-width: 100%;
    width: 620px;

    }
}

.filter-component {
    max-width: 100%;
    width: 295px;
        @media(max-width: 997px) {
            width: 123px;
        }
        @media(max-width: 721px) {
            width: 90px;
        }
    }
