.section-types {
    background-color: #fbf9f1;
    padding: 80px 0px 100px;
  }
  
  .promix-types__title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .promix-types__description {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  
  .promix-types__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
    margin-right: -50px;
  }
  
  .promix-types__item {
    width: calc(100% / 3 - 50px);
    margin-right: 50px;
  }
  
  .promix-type {
    padding: 50px;
    border: 1px solid #eee7d1;
    background-color: #fff;
  }
  
  .promix-type__info {
    line-height: 20px;
  }
  
  .promix-type__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  
  .promix-type__icon {
    position: relative;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
  }
  
  .promix-type__icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left bottom, left top, from(#13a89e), to(#37c6bc));
    background: -o-linear-gradient(bottom, #13a89e, #37c6bc);
    background: linear-gradient(to top, #13a89e, #37c6bc);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .promix-type__icon-name {
    position: relative;
    color: #fff;
    line-height: 40px;
    z-index: 2;
    font-weight: 500;
  }
  
  .promix-type__title-name {
    line-height: 1;
    font-weight: 500;
    color: #2a2a2a;
  }
  
  .promix-type__title-type {
    margin-top: 5px;
    font-size: 14px;
    color: #2a2a2a;
  }


  @media (max-width: 1355px) {
    .promix-types__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
    }
  
    .promix-types__item {
      margin: 0 auto;
      margin-bottom: 25px;
      width: calc(50% / 1 - 50px);
    }
  
    .promix-type__head {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 20px;
    }
  }

  @media (max-width: 997px) {
    .section-types {
      padding: 20px 0px 20px;
    }
  }

  @media(max-width: 830px) {
    .promix-types__item {
        width: 100%;
  }
  }
  @media (max-width: 567px) {  
    .promix-types__item {
      width: calc(85% / 1 - 50px);
    }
  
    .promix-type {
      padding: 25px;
    }
  }

  @media (max-width: 480px) {
    .promix-types__item {
      width: calc(100% / 1 - 50px);
    }
  }

  @media (max-width: 400px) {
    .promix-types__item {
      width: 100%;
    }
  }