
.section-regeneration {

    background-color: #f4f0e3;
    padding: 0px 0px 40px;
    @media(max-width: 1225px) {
        padding: 0px 0px 30px;
    }
    @media(max-width: 768px) {
        padding: 0px 0px 20px;
    }
    @media(max-width: 584px) {
        padding: 0px 0px 45px;
    }
    @media(max-width: 400px) {
        padding: 0px 0px 55px;
    }
    @media(max-width: 380px) {
        padding: 0px 0px 20px;
    }

    &__ {

        &_item {
            @media(max-width: 1225px) {
                margin-top: 20px;
            }
        }

        &_title {
            max-width: 300px;
            max-height: 40px;
            font-size: 18px;

            @media (max-width: 1225px) {
                margin-top: 20px;
            }
            @media (max-width: 768px) {
                margin-top: 0px;
            }
        }

        &_title span {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

