.section-prefits {

    scroll-margin: 60px;
    padding: 100px 0px 100px;

    @media (max-width: 997px) {
        padding: 0px 0px 0px;
    }

    &__container {
    }

    &__block {
        position: relative;

        margin-bottom: 70px;
    }


    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 997px) {
            flex-wrap: wrap;
            flex-flow: column-reverse;

            padding: 0px 15px 0px 15px;
        }
    }

    &__item::before {
        content: "";
        top: 0;
        left: 70%;
        z-index: -1;
    
        position: absolute;
        width: 430px;
        height: 430px;
        border-radius: 50%;
        background-color: #fbf9f1;

        @media (max-width: 1424px) {
            left: 63%;
            top: 5%;
        }
        @media (max-width: 1200px) {
            left: 68%;
            width: 330px;
            height: 330px;
        }

        @media (max-width: 997px) {
            display: none;
        }
    }
}

.section-item {

    &__img {
        margin-right: 110px;

        @media (max-width: 1000px) {
            margin-right: 85px;
        }

        @media (max-width: 997px) {
            margin-right: 0px;

            margin-top: 40px;
        }
    }

    &__info {
    }

    &__title {
        font-size: 32px;
    }

    &__description {
        color: #000;
        line-height: 24px;
    }

    &__description span {
        color: #000;
        @media (max-width: 567px) {
            .item-text span {
                display: none;
            }
        }
    }
}

.item-ol {
}
.item-li {
    padding-bottom: 7px;
}

.item-img {

    max-width: 600px;



    @media (max-width: 1000px) {
        max-width: 580px;
    }

    @media (max-width: 997px) {
        max-width: 100%;
    }
}

//SECOND BLOCK Start

.second-block__item {
    flex-direction: row-reverse;
}

.second-block__item::before {
    content: "";
    top: 0;
    left: -7%;
    z-index: -1;

    position: absolute;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: #fbf9f1;

    @media (max-width: 1424px) {
        left: 0%;
        top: 0%;
    }
    @media (max-width: 1200px) {
        left: 0;
        top: 8%;
        width: 330px;
        height: 330px;
    }

    @media (max-width: 997px) {
        display: none;
    }
}
    
.second-block__img {
    margin-left: 110px;
    margin-right: 0px;

    @media (max-width: 1100px) {
        margin-left: 65px;
    }
    
    @media (max-width: 997px) {
        margin-left: 0px;

        margin-top: 40px;
    }
}



//SECOND BLOCK End