  /* form start */

	.form {
		position: relative;
	  
		&.--thanks {
		  & form {
			display: none;
		  }
	  
		  & .form__thanks {
			width: unset;
			height: unset;
			visibility: visible;
		  }
		}
	  
		&.--check {
		  & .form__checkNumber {
			opacity: 1;
			transition: opacity .3s;
			z-index: 1;
		  }
		}
	  
		&.--slim {
		  min-height: unset;
	  
		  & .container {
			width: 100%;
		  }
		  & .form {
			&__img {
			  display: none;
			}
			&__title {
			  margin-bottom: 50px;
			}
			&__row {
			  flex-direction: column;
			  & + .form__row {
				// margin-top: 30px;
			  }
			}
			&__block {

			  width: 100%;
			  & + .form__block {
				// margin-top: 30px;
			  }
			}
		  }
		}
	  
		& .link {

		}
	  
		&__container {
		  margin: 0 auto;

		  background-color: #fbf9f1;
		  border: 10px solid #fbf9f1;
		
		}
	  
		&__checkNumber {
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: 0;
	  
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  
		  opacity: 0;
		}
	  
		&__title {
			position: relative;
			margin-bottom: 30px;
			font-size: 28px;
			text-align: center;
			font-family: $roboto;
			color: #000;
			font-weight: 700;
	  
		  & span {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -20px;
	  
			font-family: $roboto;
			font-size: 13px;
			color: $grey;
		  }
		}
	  
		&__row {
		  display: flex;
		  justify-content: space-between;

		  & + & {
			// margin-top: 40px;
		  }
		}
	  
		&__block {
			display: flex;
			justify-content: center;
			align-items: center;
	  
		  &.--links {
			// display: flex;
			// flex-direction: column;
			// justify-content: space-between;
		  }
		}
	  
		&__file {
		  margin-top: 10px;
		}
	  
		&__textarea {
		  width: 100%;
		  height: 100%;
		  margin-bottom: 20px;

		  @media(max-width: 567px) {
			margin-bottom: 10px;
		  }
		}
	  
		&__input {
			margin-right: 10px;
		}
		@media(max-width: 1200px) {
			&__input:last-child {
				margin-right: 0px;
			}
		}
	  
		&__button {
			width: 100%;
			font-family: $myriadPro;

			background: linear-gradient(to top, #13a89e, #37c6bc);
			color: #fff;
			padding: 19px 17px;
			font-family: $roboto;
			font-size: 15px;
			border: 0;
			cursor: pointer;
			text-align: center;

			transition: filter .3s, opacity 0.2s;
		  &[disabled] {
			filter: grayscale(1);
			pointer-events: none;
		  }
		  &:not([disabled]):hover {
			background: linear-gradient(to top, #30aca4, #0f8f87);
		  }

		  &:active {
			opacity: 0.8;
			transform: scale(0.95);
		  }

		  @media(max-width: 767px) {
			padding: 14px 16px;
			font-size: 14px;
		  }
		  @media(max-width: 767px) {
			padding: 14px 16px;
			font-size: 13px;
		  }
		}
	  
		&__thanks {
			display: none;
	  
		  &-title {
			margin-bottom: 30px;
			font-size: 36px;
			text-align: center;
		  }
		  
		  &-description {
			max-width: 400px;
			margin: 0 auto;
			font-size: 19px;
			text-align: center;
	  
			& a {
			  display: block;
			  margin: 10px 0;
			  font-size: 1.8em;
			  font-weight: 700;
			  transition: color .3s;
	  
			  &:hover {
				color: $active;
			  }
			}
		  }
		}
	  }
	  
	  @media (max-width: 1480px) {
		.form {
		  border-radius: 0;
		  &__img {
			left: 85px;
		  }
		}
	  }
	  
	  @media (max-width: 1365px) {
		.form {
		  &__img {
			display: none;
		  }
		}
	  }
	  
	  @media (max-width: 1200px) {
		.form {
		  padding: 0;
		  background-color: transparent;
		  &.--slim {
			padding: 0;
	  
			& .container {
			  max-width: unset;
			  margin: 0;
			  padding: 90px 0;
			}
			& .form__container {
			  max-width: 420px;
			}
		  }
		  & .container {
			width: unset;
			margin: 0 40px;
			padding-top: 95px;
			padding-bottom: 135px;
		  }
		}
	  }
	  

	  @media (max-width: 1200px) {
		.form {
		  &__container {
			max-width: 420px;
		  }
		  &:not(.--slim) {
			& .form__title {
			  width: 100%;
			  font-size: 22px;
			  margin-bottom: 40px;
			}
		  }
		  &__row {
			flex-direction: column;
			& + & {
			  margin-top: 30px;
			}
		  }
		  &__block {
			width: 100%;
			& + & {
			//   margin-top: 20px;
			}
			&.--submit {
			  margin-top: 10px;
			}
		  }
		}
	  }

	  @media (max-width: 1130px) {
		.form {

		  &:not(.--slim) {
			& .form__title {
			  font-size: 30px;
			}
		  }
		}
	  }

	  @media (max-width: 767px) {
		.form {

		  &:not(.--slim) {
			& .form__title {
			  font-size: 26px;
			}
		  }
		}
	  }

	  @media (max-width: 460px) {
		.form {

		  &:not(.--slim) {
			& .form__title {
			  font-size: 24px;
			  margin-bottom: 20px;
			}
		  }
		}
	  }
	


	  @media (max-width: 1000px) {
		.form {
		  & .container {
			padding-top: 50px;
			padding-bottom: 60px;
		  }
		}
	  }
	  
	  @media (max-width: 767px) {
		.form {
		  &.--slim {
			& .container {
			  width: auto;
			  margin: 0px;
			  padding-left: 40px;
			  padding-right: 40px;
			}
			& .form__submit {
			  font-size: 14px;
			}
		  }
	  
		  & .container {
			margin: 0 20px;
			padding-top: 40px;
			padding-left: 28px;
			padding-right: 28px;
			padding-bottom: 40px;
		  }
		  &:not(.--slim) {
			& .form__title {
			  width: auto;
			  margin-left: 0;
			  margin-right: 0;
			  margin-bottom: 30px;
			}
		  }
		  &__title {
			font-size: 22px;
	  
			& span {
			  bottom: -18px;
			  font-size: 12px;
			}
		  }
		  &__thanks {
			&-title {
			  font-size: 29px;
			}
			&-description {
			  font-size: 16px;
			  & a {
				margin: 15px 0;
			  }
			}
		  }
		}
	  }
	  
	  @media (max-width: 375px) {
		.form {
		  &.--slim {
			& .container {
			  padding-top: 60px;
			  padding-bottom: 60px;
			}
		  }
	  
		  & .container {
			margin: 0;
			border-radius: 0;
		  }
		}
	  }
	  

	/* form end */