.contact {
    display: flex;
    flex-direction: column;
    line-height: 1;
  
    &__link {
      margin-bottom: 10px;
      font-size: 20px;
      white-space: nowrap;
      transition: color .3s;
  
      &:hover {
        color: $active;
      }
      &.--big {
        font-size: 26px;
        font-weight: 700;
      }
      &.--icon {
        position: relative;
        padding-left: 27px;
  
        & + * {
          margin-left: 27px;
        }
    
        & svg {
          position: absolute;
          top: 7px;
          left: 0;
          fill: $black;
          transition: fill .3s;
        }
  
        &:hover {
          & svg {
            fill: $active;
          }
        }
      }
    }
  }
  