.section-callback {

    padding: 60px 0 60px;
    background-color: #fbf9f1;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__left {
    }

    &__right {
    }
}
.container {
}
.subtitle {
}
.section-left {

    &__subtitle {
    }
}
.page-title {
}
.section-right {

    &__title {
    }
}
