.section-build {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__right {
    }

    &__left {
    }
}

.block {

    &__item {
    }

    &__title {
    }

    &__text {
    }
}
.one {
}
.section-left {

    &__img {
    }

    &__img--scheme {
    }
}
.sheme-build {
}
.is-active {
}
