.section-example {

    &__separation {
        margin: 90px auto 85px;
    }

    &__titile {

        text-align: left;
    }

    &__up {

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 30px;

        @media(max-width: 992px) {

            flex-wrap: wrap;
            margin-bottom: 20px;

        }
    }

    &__down {

        display: flex;
        justify-content: center;

        @media(max-width: 830px) {

            flex-wrap: wrap;

        }
    }
}

    // SECTION UP Start ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑

.section-up {

    &__left,
    &__right {
        padding: 50px 90px 50px 90px; 
     }

    &__left {
        margin-right: 30px;

        @media(max-width: 992px) {

            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    &__img {
        max-width: 100%;
    }
}

     // Section UP end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑

     // Section DOWN start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓

.section-down {

    &__img {
        max-width: 100%;
        max-height: 362px;
    }

    &__first,
    &__second {
        margin-right: 30px;

        @media(max-width: 830px) {

            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    &__second {

    }

    &__first,
    &__second,
    &__third {

        padding: 50px 37px 50px 37px;

    }

}

     // Section DOWN end ↓↓↓↓↓↓↓↓↓↓↓↓↓↓



// Общие стили start ============================================================================================================

// = Subtitle styles start

.section-left__subtitle,
.section-right__subtitle,
.section-first__subtitle,
.section-second__subtitle,
.section-third__subtitle {

    margin-bottom: 50px;

}

// = Subtitle styles end

// = = Box-shadow start

.section-up__left,
.section-up__right,
.section-down__first,
.section-down__second,
.section-down__third {

    cursor: pointer;
    transition: all 0.4s linear;
    
}


.section-up__left:hover,
.section-up__right:hover,
.section-down__first:hover,
.section-down__second:hover,
.section-down__third:hover {

    box-shadow: 0px 3px 28.8px 3.2px rgba(0, 0, 0, 0.18);

}

@media (max-width: 992px) {

    .section-up__left,
    .section-up__right,
    .section-down__first,
    .section-down__second,
    .section-down__third {

        box-shadow: 0px 1px 19px 1.2px rgba(10, 0, 0, 0.20);
    }

}

// = = Box-shadow start

// = = = Border для всез карточек start

.section-up__left,
.section-up__right,
.section-down__first,
.section-down__second,
.section-down__third {
    
    background-color: #fbf9f1;
    border-radius: 6px;

}

// = = = Border для всез карточек end

// Общие стили end ============================================================================================================

// Links style start

.link-system {
    margin-top: 20px;
    text-align: center;
}

.show-composition {
    font-family: $fontfamily;
    font-size: 14px;

    color: #000;
    border-bottom: 1px dashed;

    transition: all 0.2s linear;

}

.show-composition:hover,
.show-composition:active,
.show-composition:focus {
    color: #1aaea4;
    border-bottom:  none;
}


// Links end start