/* Основные стили */

.block {
	max-width: 440px;
	width: 100%;
}
.block__item {
	margin: 0px 0px 20px 0px;
}
.block__title {
	font-family: $fontfamily;
	font-size: 18px;
	font-weight: 500;
	color: #13a89e;

	position: relative;
	cursor: pointer;
}

.block__title span {
	border-bottom: 1px dashed;
}


.block__text {
	display: none;
	padding: 10px 0px 0px 0px;
}

.block__title.is-active {
	color: #dbb680;
}

.block__title.is-active span {
	border-bottom: none;
}

