//<МИКСИНЫ>===============================================================================================
@import "./mixins/mixins.scss";
//</МИКСИНЫ>===============================================================================================

//</ШРИФТЫ>=======================================================================================================
@import "fonts.scss";

$roboto: "Roboto";
$openSans: "Open Sans";
$myriadPro: "Myriad Pro";

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================


//<VARIABLES>=============================
@import "./variables/variables.scss";
//<VARIABLES>=============================

//<NULL STYLES>===========================
@import "./null/null.scss";
//<NULL STYLES>===========================

//<ОБЩИЕ СТИЛИ>===========================
@import "components.scss";
//<ОБЩИЕ СТИЛИ>===========================

//<FORMS>=================================
@import "./form/form.scss";
@import "./input/input.scss";
@import "./checkNumber/checkNumber.scss";
//<FORMS>=================================

//<HEADER>===============================
@import "header.scss";
//<HEADER>===============================

//<BUTTON SCROLL UP>======================
@import "buttonUp.scss";
//<BUTTON SCROLL UP>======================

@import "spoiler.scss";

//<BURGER-MENU>============================
@import "burger-menu.scss";
//<BURGER-MENU>============================

//<POPUP>==================================
@import "./popup/popup.scss";
@import "./popup/popup-cards.scss";
@import "./popup/popup-city.scss";
//<POPUP>==================================

//<SECTIONS>===============================
@import "./sections/1-section-top.scss";
@import "./sections/2-section-about.scss";
@import "./sections/3-section-complex.scss";
@import "./sections/4-section-components.scss";
@import "./sections/5-section-regeneration.scss";
@import "./sections/6-section-prefits.scss";
@import "./sections/7-section-types.scss";
@import "./sections/8-section-specifications.scss";
@import "./sections/9-section-build.scss";
@import "./sections/10-section-example.scss";
@import "./sections/11-section-calculation.scss";
@import "./sections/12-section-callback.scss";
//<SECTIONS>======================================

//<FOOTER>============================
@import "footer.scss";
//<FOOTER>============================


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

