//<МИКСИНЫ>===============================================================================================
@import "./mixins/mixins.scss";
//</МИКСИНЫ>===============================================================================================

//</ШРИФТЫ>=======================================================================================================
@import "./fonts/fonts.scss";

$roboto: "Roboto";
$openSans: "Open Sans";
$myriadPro: "Myriad Pro";

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================


//<VARIABLES>=============================
@import "./variables/variables.scss";
//<VARIABLES>=============================

//<NULL STYLES>===========================
@import "./null/null.scss";
//<NULL STYLES>===========================

//<ОБЩИЕ СТИЛИ (page-title, btn, btn-close, mobile-menu, select-city)>===========================
@import "./components/components.scss";
//<ОБЩИЕ СТИЛИ>===========================

//<FORMS>=================================
@import "./form/form.scss";
@import "./input/input.scss";
@import "./checkNumber/checkNumber.scss";
//<FORMS>=================================

//<HEADER>===============================
@import "header/header.scss";
//<HEADER>===============================

//<BUTTON SCROLL UP>======================
@import "./buttonUp/buttonUp.scss";
//<BUTTON SCROLL UP>======================

//<BURGER-MENU>============================
@import "./burger-menu/burger-menu.scss";
//<BURGER-MENU>============================

//<POPUP>==================================
@import "./popup/popup.scss";
@import "./popup/popup-cards.scss";
@import "./popup/popup-city.scss";
//<POPUP>==================================

//<SECTIONS>===============================
@import "../sections/section-top/section-top.scss";
@import "../sections/section-about/section-about.scss";
@import "../sections/section-complex/section-complex.scss";
@import "../sections/section-components/section-components.scss";
@import "../sections/section-regeneration/section-regeneration.scss";
@import "../sections/section-prefits/section-prefits.scss";
@import "../sections/section-types/section-types.scss";
@import "../sections/section-specefication/section-specifications.scss";
@import "../sections/section-build/section-build.scss";
@import "../sections/section-example/section-example.scss";
@import "../sections/section-calculation/section-calculation.scss";
@import "../sections/section-callback/section-callback.scss";
//<SECTIONS>======================================

//<FOOTER>============================
@import "./footer-page/footer.scss";
//<FOOTER>============================


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

