#cube-loader {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 999;
    position: fixed;
    background: #fff;
    & .caption {
      margin: 0 auto;
    }
    .cube-loader {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(#00FF00, #00FF00, #00FF00);
        animation: animate 1s linear infinite;
        @keyframes animate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
  }
  .cube-loader span {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#35C4BB, #41f1e5, rgb(20,169,159));
  }
  
  .cube-loader span:nth-child(1) {
    filter: blur(5px);
  }
  
  .cube-loader span:nth-child(2) {
    filter: blur(10px);
  }
  
  .cube-loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: white;
    border-radius: 50%;
  }
}
  
  


.visible {
visibility: visible;
opacity: 1;
transition: opacity 2s linear;
}

.hidden {
visibility: hidden;
opacity: 0;
transition: visibility 0s 2s, opacity 2s linear;
}

.loader-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: fff;
  }
  
  .loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#00FF00, #00FF00, #00FF00);
    animation: animate 1s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader span {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#35C4BB, #00ffbb, rgb(20,169,159));
  }
  
  .loader span:nth-child(1) {
    filter: blur(5px);
  }
  
  .loader span:nth-child(2) {
    filter: blur(10px);
  }
  
  .loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: white;
    border-radius: 50%;
  }
  