
.header-page {
	padding: 30px 0;
	background-color: $white;
	z-index: 200;

	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	width: 100%;

	transition: all 0.2s linear;
	
	&.--scrolled-header {
		padding: 10px 0;
		box-shadow: $shadow;
		@media(max-width: 992px) {
			padding: 0;
		}
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__start {

	}

	&__medium {
		display: flex;
		align-items: center;
	}
	&__end {

	}

	&__nav {
		margin: 0px 85px;
	}

	&__ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
	}

	&__li {
		margin-right: 20px;
	}

	&__li:last-child {
		margin-right: 0px;
	}

	&__link {
		text-transform: uppercase;
		color: #898989;
		text-decoration: none;
		display: block;
		padding: 10px;
		font-family: $roboto;
		font-weight: 900;
		font-size: 14px;
	}

	&__link:hover{
		color: #1f1f1f;
	}

	&__text {
		position: relative;
		transition: color .2s;
	}

	&__phone {
		font-family: $roboto;
		color: #1f1f1f;
		font-weight: 600;
		font-size: 20px;
		transition: color 0.1s linear;
		&:hover {
			color: $active;
		}
	}

	&__icon {
		width: 17px;
		height: 17px;
	}

	&__hamburger {
		display: none;
		margin-right: -15px;
	}
}

.logo {
	max-width: 165px;
}

.city {
	font-size: 14px;
	font-family: $roboto;
	@media(max-width: 992px) {
		margin-right: 15px;
	}
}

@media (max-width: 1300px) {
	.header-page__nav {
		margin:0px 42px;
	}
}

@media (max-width: 1208px) {
	.header-page__nav {
		margin:0px 23px;
	}
	.header-page__li {
		margin:0px 5px;
	}
}

@media (max-width: 1135px) {
	.header-page__nav {
		margin:0px 4px;
	}
	.header-page__li {
		margin:0px 5px;
	}
}

@media (max-width: 1092px) {
	.header-page__start {
		max-width: 125px;
		width: 100%;
	}
	.logo {
		width: 125px;
	}
	.header-page__link {
		font-size: 12px;
	}
}

  @media (max-width: 992px) {

	.header-page {
		padding: 0;
	}

	.header-page__nav {
	  display: none;
	}

	.header-page__hamburger {
	  display: block;
	}

	.header-page__container {
		justify-content: space-between;
	}

	.header-page__end {
		position:  absolute;
		right: 95px;
	}
  }

  @media (max-width: 465px) {

	.header-page__end {
		display: none;
	}
  }
  

  /* header-page end */