//<ПЕРЕМЕННЫЕ>===========================================================================================================

$mainColor: #f4f0e3;

$minwidth: 320px;
$maxWidth: 100%;
$maxWidthContainer: 1400;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Цвета
$error: #ff0000;

$active: #25b7ad;
$activeLight: #258c97;
$active30: rgba(12, 127, 139, .3);
$active50: rgba(12, 127, 139, .5);
$border: #eee7d1;

$white: #fff;
$white20: rgba(255,255,255,.2);
$white30: rgba(255,255,255,.3);
$black: #202020;
$priceBenefitIcon: #c7dbba;

$tableHead: #e5f3db;
$tableActive: #eaf2f3;

$grey: #aaa;
$greyDark: #43515f;
$greyDark95: rgba(67, 81, 95,.95);

$iconBg: #e4f5e5;

$formBg: #eaf2f3;
$formPlaceholder: #b4bdc5;
$footerBg: #eaf2f3;

$mainGradient: linear-gradient(to top, #13a89e, #37c6bc);

//<ПЕРЕМЕННЫЕ>===========================================================================================================
