//<МИКСИНЫ>===============================================================================================
@import "./mixins/mixins.scss";
//</МИКСИНЫ>===============================================================================================

//</ШРИФТЫ>=======================================================================================================
//<Подключаем шрифты>=======================================================================================

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic");

@font-face {
    font-family: "Myriad Pro"; 
    src: url(../fonts/MyriadPro.otf); 
   }

//</Подключаем шрифты>=======================================================================================

$roboto: "Roboto";
$openSans: "Open Sans";
$myriadPro: "Myriad Pro";

//</ШРИФТЫ>=======================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

.wrapper {
    overflow: hidden;

}

//<VARIABLES>=============================
@import "./variables/variables.scss";
//<VARIABLES>=============================

//<NULL STYLES>===========================
@import "./null/null.scss";
//<NULL STYLES>===========================

//<ОБЩИЕ СТИЛИ (page-title, btn, btn-close, mobile-menu, select-city)>===========================
@import "./components/components.scss";
//<ОБЩИЕ СТИЛИ>===========================

//<FORMS>=================================
@import "./form/form.scss";
@import "./input/input.scss";
@import "./checkNumber/checkNumber.scss";
//<FORMS>=================================

//<HEADER>===============================
@import "header/header.scss";
//<HEADER>===============================

//<BUTTON SCROLL UP>======================
@import "./buttonUp/buttonUp.scss";
//<BUTTON SCROLL UP>======================

//<BURGER-MENU>============================
@import "./burger-menu/burger-menu.scss";
//<BURGER-MENU>============================

//<POPUP>==================================
@import "./popup/popup.scss";
@import "./popup/popup-cards.scss";
@import "./popup/popup-city.scss";
//<POPUP>==================================

//<SECTIONS>===============================
@import "./sections/section-top.scss";
@import "./sections/section-about.scss";
@import "./sections/section-complex.scss";
@import "./sections/section-components.scss";
@import "./sections/section-regeneration.scss";
@import "./sections/section-prefits.scss";
@import "./sections/section-types.scss";
@import "./sections/section-specifications.scss";
@import "./sections/section-build.scss";
@import "./sections/section-example.scss";
@import "./sections/section-calculation.scss";
@import "./sections/section-callback.scss";
//<SECTIONS>======================================

//<FOOTER>============================
@import "./footer/footer.scss";
//<FOOTER>============================


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

