.section-callback {

    padding: 60px 0 60px;
    background-color: #fbf9f1;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__left {
    }

    &__right {
    }

    &__input {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__input:last-child {
        margin-right: 0px;
    }

    &__label {
        padding: 15px 20px 18px;
        width: 100%;
    }
}
.container {
}
.subtitle {
}
.section-left {

    &__subtitle {
    }
}
.page-title {
}
.section-right {

    &__title {
    }
}
