.section-callback {

    padding: 60px 0 85px;
    background-color: #fbf9f1;

    @media(max-width: 767px) {
        padding: 40px 0 85px;
    }
    @media(max-width: 460px) {
        padding: 20px 0 85px;
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__left {
        margin-right: 80px;
        @media(max-width: 1130px) {
            margin-right: 0px;
            position: absolute;
            z-index: 2;
        }
    }

    &__right {
        position: relative;
        z-index: 3;
        @media(max-width: 1130px) {
            max-width: 465px;
            width: 100%;
        }
        @media(max-width: 767px) {
            max-width: 375px;
        }

    }

    &__input {
        margin-right: 20px;
        margin-bottom: 20px;
        @media(max-width: 570px) {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    &__input:last-child {
        margin-right: 0px;
    }

    &__label {
        padding: 15px 94px 19px 18px;
        width: 100%;
        @media(max-width: 1289px) {
            padding: 15px 19px 19px 18px;
        }
        @media(max-width: 1140px) {
            padding: 15px 15px 19px 18px;
        }
    }

    &__form {

    }

    &__map {
        @media(max-width: 1130px) {
            width: 790px;
            max-width: 100%;
        }

    }
}


.section-left {

    &__subtitle {
        margin-bottom: 0;
        margin-top: 70px;
        @media(max-width: 1130px) {
            margin-top: 40px;
            opacity: 60%;
        }
        @media(max-width: 640px) {
            opacity: 0%;
        }
    }
}
.page-title {
}
.section-right {

    &__title {
    }
}
