.section-types {

    background-color: #fbf9f1;
    padding: 80px 0px 100px;

    @media (max-width: 570px) {
        padding: 20px 0px 20px;
    }
    
}

.promix-types {
    &__title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__description {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }
    &__list {
      display: flex;
      margin-top: 55px;
      margin-right: -50px;
      @media(max-width: 1355px) {
          flex-direction: column;
          width: 100%;
      }
    }
    &__item {
      width: calc(100% / 3 - 50px);
      margin-right: 50px;
      @media(max-width: 1355px) {
          margin: 0 auto;
          margin-bottom: 25px;
          width: calc(50% / 1 - 50px);
      }
      @media(max-width: 992px) {
          width: calc(65% / 1 - 50px);
      }
      @media(max-width: 567px) {
          width: calc(85% / 1 - 50px);
      }
      @media(max-width: 480px) {
          width: calc(100% / 1 - 50px);
      }
    }
  }

  .promix-type {
    padding: 50px;
    border: 1px solid $border;
    background-color: #fff;
    @media(max-width: 567px) {
        padding: 25px;
    }

    &__info {
        line-height: 20px;
    }

    &__head {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @media(max-width: 1355px) {
          justify-content: center;
          margin-right: 20px;
      }
    }
    &__icon {
      position: relative;
      width: 40px;
      min-width: 40px;
      height: 40px;
      margin-right: 20px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid red;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $mainGradient;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      &-name {
        position: relative;
        color: #fff;
        line-height: 40px;
        z-index: 2;
        font-weight: 500;
      }
    }
    &__title {
      &-name {
        line-height: 1;
        font-weight: 500;
        color: $black;
      }
      &-type {
        margin-top: 5px;
        font-size: 14px;
        color: $black;
      }
    }
  }