.section-specifications {

    margin: 65px 0px 95px;

    @media(max-width: 748px) {
        margin: 65px 0px 35px;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        @media (max-width: 749px) {
            flex-wrap: wrap;
        }
    }

    &__right {
        margin-right: 20%;

        @media (max-width: 1350px) {
            margin-right: 12%;
        }
        @media (max-width: 992px) {
            margin-right: 4%;
        }
        @media (max-width: 749px) {
            margin-right: 0%;
        }
    }

    &__left {
    }

    &__block {
        padding: 20px;
        margin-top: 94px;
        margin-bottom: 94px;
        
        top: 155px;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__block:last-child {
        margin-bottom: 0px;
    }

    &__img {
        margin-top: 80px;
        margin-left: 40px;
        @media (max-width: 749px) {
            margin-top: 45px;
            margin-left: 0px;
        }
    }

    &__line {
        right: -50px;
    }
    

    &__table {
      // max-width: 520px;
    }

    &__row {

    }

    &__item {

    }
}

.specifications-img {
    @media (max-width: 440px) {
        max-width: 130px;
       }
}

.c-section-specs {

    &__info {
        color: black;
    }

    &__left {
        position: relative;

    }

    &__table td {
        padding-bottom: 15px;
    }

}



.c-tabs {

    &__nav {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 17px;
        color: #000;

        text-decoration: none;
        line-height: 1;

    }

    &__nav:active {
        color: #000;
    }

    &__link span {
        color: #13a89e;
        border-bottom: 1px dashed;
    }

}


.ul-item {
    display: inline-flex;
}

.li-item {
    margin-right: 45px;
}

.li-item:last-child {
    margin-right: 0px;
}

td {
    padding: 17px 0px 17px;
    border-bottom: 1px solid #dbdbdb; 
   }


.section-right__title {
    text-align: left;
    padding: 0;
    margin-bottom: 40px;
}

.is-first {
    padding-right: 40px;
}

.c-section-specs, 
.c-section-specs__table th {
    color: #19aaa1;
    font-weight: 500;
    padding-right: 5px;
}

// Tabs start

.tabs-nav__item {
    border-bottom: 1px dashed;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.3s linear;
}

.tabs-nav__item.is-active {
    border-color: #13a89e;
    color: #13a89e;
}

.tab {
    opacity: 0%;
    position: absolute; 
    top: 0; 
    left: 0;
    transition: all 0.3s ;

    @media (max-width: 749px) {
        display: none;
        position: inherit; 

    }
}
.tab.is-active { 
    opacity: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;

    @media (max-width: 749px) {
        display: block;
        position: inherit; 

    }
}

// Tabs end


.promix {
    &__scheme {
        &-title {
          margin-bottom: 30px;
        }
        &-container {
          display: flex;
          justify-content: space-between;
          margin: 15px 0 0;
        }
        &-block {
          width: calc(50% - 40px);
          &--image {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &-tabs {
          counter-reset: scheme-tabs;
        }
        &-tab {
          padding: 30px 0;
          & + & {
            border-top: 1px solid $grey;
          }
          &:hover {
            & .promix__scheme-tab-header {
              color: $black;
              border-color: $black;
            }
          }
          &:not(.promix__scheme-tab--active) {
            cursor: pointer;
          }
          &--active {
            & .promix__scheme-tab-header {
              color: $black;
              border-color: transparent !important;
            }
            & .promix__scheme-tab-content {
              max-height: unset;
            }
          }
          &-header {
            display: inline-block;
            color: $greyDark;
            border-bottom: 1px dashed $greyDark;
            // transition: color $transition, border-color $transition;
            &:before {
              counter-increment: scheme-tabs;
              content: counter(scheme-tabs) '. ';
            }
          }
          &-content {
            position: relative;
            max-width: 450px;
            max-height: 0;
            // transition: max-height $transition, padding $transition;
            overflow: hidden;
            &:after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 5px;
              background-image: linear-gradient(0deg, #fff, transparent);
            }
          }
        }
        &-object {
          position: relative;
          counter-reset: scheme-dots;
        }
        &-dot {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 40px;
          height: 40px;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          border-radius: 50%;
        //   background-image: $gradient_blue_count;
        //   transition: filter $transition;
          &:after {
            counter-increment: scheme-dots;
            content: counter(scheme-dots);
          }
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-image: inherit;
            z-index: -1;
          }
          &--active {
            filter: grayscale(1);
            &:before {
              animation: pulse 1.5s ease-in-out infinite backwards;
            }
          }
          &:hover:not(.promix__scheme-dot--active) {
            &:before {
              animation: pulse 1.5s ease-in-out infinite backwards;
            }
          }
          &:not(.promix__scheme-dot--active) {
            cursor: pointer;
          }
          &[data-scheme-dot="1"] {
            top: 85px;
            left: 132px;
          }
          &[data-scheme-dot="2"] {
            top: 105px;
            left: 225px;
          }
          &[data-scheme-dot="3"] {
            top: 230px;
            left: 390px;
          }
          &[data-scheme-dot="4"] {
            top: 16px;
            left: 362px;
          }
          &[data-scheme-dot="5"] {
            top: 360px;
            left: 135px;
          }
          &[data-scheme-dot="6"] {
            top: -45px;
            left: 277px;
          }
        }
      }
}